<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/navicons/home.svg" width="20" height="20"> Home</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><img src="{{ site.baseurl }}/navicons/archive.svg" width="20" height="20"> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><img src="{{ site.baseurl }}/navicons/search.svg" width="20" height="20"> Search</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><img src="{{ site.baseurl }}/navicons/bars.svg" width="32" height="32"></div>
